  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Nous garantissons votre satisfaction sur chaque produit que nous vendons avec un remboursement complet conformément à notre politique de retour. Nos techniciens savent quelles pièces fonctionnent bien ensemble et peuvent vous aider à déterminer la meilleure sélection de composants pour votre ordinateur.</h2>
              <a href="" class="btn btn-default btn-xl wow tada">Contactez-Nous ci-dessous pour plus D'information!</a>
          </div>
      </div>
  </aside>
