<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous avons ce qu'il vous faut!</h2>
                <hr class="light">
                <p class="text-faded">Nous accompagnons nos clients avec des solutions en logiciels, matière de conseil, de formation, de NTICS, marketing, communication et publication. Nos consultants experts ont de l’expérience avérée dans la gestion de grands projets dans les structures de référence au Mali, en Afrique et Amérique.!</p>
                <a href="#" class="btn btn-default btn-xl">Commencer!</a>
            </div>
        </div>
    </div>
</section>
