<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous avons ce qu'il vous faut!</h2>
                <hr class="light">
                <p class="text-faded">Nous accompagnons nos clients avec des solutions en logiciels, matière de conseil, de formation, de services de technologie de l'information. Nos consultants experts ont de l’expérience avérée dans la gestion de grands projets dans les structures de référence au Mali. 
Nos consultants sont orientées actions et résultats avec comme focus la satisfaction de nos clients dans les délais et suivant leurs attentes et cela avec un meilleur qualité prix. Avec Malitech Logiciels, c’est la prise en charge de vos projets et préoccupations par de groupe d’experts triés sur la base de leur capacité et savoir-faire!</p>
                <a href="#" class="btn btn-default btn-xl">Commencer!</a>
            </div>
        </div>
    </div>
</section>
