<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>LA SATISFACTION DU CLIENT EST NOTRE PRIORITÉ</h1>
            <hr>
            <p style="color:black;"><b><p>Malitech Logiciels offre les meilleurs prix sur les produits informatiques, les ordinateurs portables, les téléviseurs LCD LED, les appareils photo numériques, les appareils électroniques, les téléphones déverrouillés, les fournitures de bureau et autres.</p></b></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">En Savoir Plus</a>
        </div>
    </div>
</header>
