<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                 Produits Informatique
                            </div>
                            <div class="project-name">
                                PC - Imprimante - Laptop
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Emails Professionnelle
                            </div>
                            <div class="project-name">
                                Créer une adresse email Pro au nom de votre Entreprise
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Logiciel MTL-STOCK
                            </div>
                            <div class="project-name">
                                Inventaire des Produits
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ANTIVIRUS
                            </div>
                            <div class="project-name">
                              Suppression de Virus - Réparation des Problèmes de Virus - Installation des Mises à Jour.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MAINTENANCE
                            </div>
                            <div class="project-name">
                                Ajout d'Extensions - Entretiens et Nettoyages - Révision Générale - Réglages et Tests - Librairie de Pieces Détachées.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Formation
                            </div>
                            <div class="project-name">
                                Base Informatique - Initiation Bureautique - Produits Office: Word - Excel - Powerpoint - Installer et Supprimer un Logiciel.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
