<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                 Produits Informatique
                            </div>
                            <div class="project-name">
                                <h4>PC - Imprimante - Laptop - Tablet - Processeur - All in One - Carte de Stockage - RAM - Carte Video</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Emails Professionnelle
                            </div>
                            <div class="project-name">
                <h4>Nous offrons une solution unique axée principalement sur les serveurs de messagerie. Ce service fonctionne indépendamment de l'hébergement de site Web, par conséquent, votre entreprise fonctionnera toujours à pleine échelle.</h4> 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hébergement Cloud
                            </div>
                            <div class="project-name">
                                <h4>Nous offrons l'hébergement en nuage pour héberger des données, des services et / ou des solutions.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                ANTIVIRUS
                            </div>
                            <div class="project-name">
                              <h4>Suppression de Virus - Réparation des Problèmes de Virus - Installation des Mises à Jour.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MAINTENANCE - Repair
                            </div>
                            <div class="project-name">
                                <h4>Ajout d'extensions - Entretien et néttoyage - Révision générale - Réglages et tests - Librairie de pieces détachée.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/Page6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Formation
                            </div>
                            <div class="project-name">
                                <h4>Base Informatique - Initiation Bureautique - Produits Office: Word - Excel - Powerpoint - Installer et Supprimer un Logiciel.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
